<footer>
  <!--  div.enlaces>ul>li*3.item${item $}  Escribir html rapido-->
<div class="enlaces">
    <ul>
        <li class="item1"><a href="/home">Home</a></li>
        <li class="item2"><a href="/about">About</a></li>
        <li class="item3"><a href="/terms">Terms</a></li>
    </ul>
</div>
</footer>