<div class="header">
    <div class="image"><img src="/img/iconoweb.png">GeeksHubs Travel</div>
    <div class="navbar">
        <div class="nav1"><p>Destinos</p></div>
        <div class="nav2"><p>Quienes somos</p></div>
        <div class="nav3"><p>Donde estamos</p></div>
    </div>
    <div class="redes">
        <img src="/img/redes/fb.png">
    </div>
</div>
