<div class="container">
    <div class="caja1">
        
        <div class="bloque1">Save {oferta} pay only</div>
        <div class="bloque2"><span>10$</span></div>
        <div class="bloque3">Ciudad</div>
        <div class="bloque4">bloque 4</div>
        
    </div>
    <div class="caja2">
        
        <div class="bloque1">Save {oferta} pay only</div>
        <div class="bloque2"><span>10$</span></div>
        <div class="bloque3">Ciudad</div>
        <div class="bloque4">bloque 4</div>
        
    </div>

    <div class="caja3">
        <div class="bloque1">Save {oferta} pay only</div>
        <div class="bloque2"><span>10$</span></div>
        <div class="bloque3">Ciudad</div>
        <div class="bloque4">bloque 4</div>
    </div>
    <div class="caja4">
        <div class="bloque1">Save {oferta} pay only</div>
        <div class="bloque2"><span>10$</span></div>
        <div class="bloque3">Ciudad</div>
        <div class="bloque4">bloque 4</div>
    </div>
    <div class="caja5">
        <div class="bloque1">Save {oferta} pay only</div>
        <div class="bloque2"><span>10$</span></div>
        <div class="bloque3">Ciudad</div>
        <div class="bloque4">bloque 4</div>
    </div>
    <div class="caja6">
        <div class="bloque1">Save {oferta} pay only</div>
        <div class="bloque2"><span>10$</span></div>
        <div class="bloque3">Ciudad</div>
        <div class="bloque4">bloque 4</div>
    </div>
</div>