<div class="home">
    <div class="home-1">
        <div class="title">Viaja!</div>
    <div class="subt">Descubre lugares maravillosos!</div>
    <div class="verdestinos"><a href="http://localhost:3000/destinos"><button>ver destinos</a></button></div>
    </div>
</div>