<div class="caja">
    <div>
        <div class="titulo">
            <h2>QUIENES SOMOS</h2>
        </div>
        <div class="texto">
            <p>GeeksHubs es una agencia de viajes online creada
                en 2009 por un equipo de viajeros entusiastas que
                deciden hacer de su pasion por conocer wl mundo un modo
                de vida. Desde nuestros inicios nhemos diselado mas de 500 
                viajes organizados a diferentes destinos de 
                Europa, Norteamerica y Asia. Nuestro objetivo ahora es ir ampliando 
                horizontes poco a poco.
            </p>
        </div>
        <div class="boton">
            <input type="button" value="DESCUBRIR">
        </div>
    </div>
    <div class="oc">

    </div>
</div>