html, body {
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 62.5%;
}
/* 62.5%  para mejorar la accesibilidad, eso por la fuente base que son 16px, lo que quedaria en 10px*/
h1{
    font-size: 3.2rem;
}
p{
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    
}
.container{
    display: flex;
    border: 1px;

}
.header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 2px solid black;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar p{
    font-style: italic;
    color: white;
}
img {
    width: 40px;
}